<div class= "container">
	<div class="row">
		<div class="col-xs-9">
		    <h1>ショッピングカート</h1>
	
		    <%= button_to "全て削除", destroy_all_cart_products_path(@cart_product_id), method: :delete %>
		    <table class="table">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<tr>
			<% @cart_products.each do |cp| %>
				<td><%= attachment_image_tag(cp.product, :image, size:'100x100', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg") %><%= cp.product.name %></td>
					<td><%= cp.product.price_tax_excluded%></td>
					<td><%= cp.number%></td>
					<td><%= cp.product.price_tax_excluded%></td>
				  	<td><%=link_to "削除する",  cart_product_path(cp), method: :delete, "data-confirm"=> "本当に削除してもよろしいですか？", class: "btn-sm btn-danger"%></td>
			</tr>
		    </tbody>
			<% end %>
		</table>
			<td><%=link_to "買い物を続ける",products_path, class: 'btn btn-primary' %></td>
			<th>合計金額</th><td><%@product_total_price %>円</td>
			<span><%=link_to "購入情報に進む",new_order_path, class: 'btn btn-primary' %></span>
		</div>
	</div>
</div>
