<div class="container"> 
      <div class="row">
          <div class="col-xs-8">
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
             <%= render "devise/shared/error_messages", resource: resource %>
             <table style="border-style: none;">
               <tr class="row">
                 <th style="border-style: none;"><h4><span class="gray">　パスワード変更</span></h4></td>
               </tr>
               <tr class="row">
                 <td style="border-style: none;"><%= f.label :新パスワード%></td>
                 <td style="border-style: none;"><%= f.password_field :password, autocomplete: "new-password" %></br><% if @minimum_password_length %><em><%= @minimum_password_length %>文字以上</em></td>
                <% end %>
              </tr>
              <tr class="row">
                <td style="border-style: none;"><%= f.label :パスワード確認%></td>
                <td style="border-style: none;"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
              </tr>

              <tr class="row">
                <td style="border-style: none;"><%= f.label :旧パスワード %></td>
                <td style="border-style: none;"> <%= f.password_field :current_password, autocomplete: "current-password" %></td>
              <tr class="row">
                <td style="border-style: none;"><%= f.submit "編集内容を保存する", class:"btn btn-primary" %></td>
              </tr>
              <tr class="row">
                <td style="border-style: none;"><%= link_to "戻る", :back %></td>
             </tr>
           </table>
          <% end %>
        </div>
    </div>
</div>
