<!-- <h1>Admin::Orders#show</h1>
<p>Find me in app/views/admin/orders/show.html.erb</p> -->

<br>
<br>
<br>

<div class="container">
	<div class="row">

		<div class="col-md-7">
			<h2>注文履歴詳細</h2>

			<table class="table">
				<tbody>
					<tr>
						<td>購入者</td>
						<td><%= @order.end_user.family_name %> <%= @order.end_user.first_name %></td>
					</tr>
					<tr>
						<td>配送先</td>
						<td><%= @order.post_code %> <%= @order.address %><br><%= @order.name %></td>
					</tr>
					<tr>
						<td>支払い方法</td>
						<td><%= @order.payment_method %></td>
					</tr>
					<tr>
						<%= form_for @order, url:"/admin/orders/#{@order.id}" do |f| %>
						<td>注文ステータス</td>
						<td><%= f.select :oeder_status, Order.oeder_statuses.keys, :prompt => "選択してください" %><br><%= f.submit "更新" %></td>
						<% end %>
					</tr>
				</tbody>
			</table>

		</div>

	</div>

	<div class="row">
		<div class="col-md-8">

			<table class="table">
				<thead>
					<tr>
						<td>商品名</td>
						<td>単価(税込)</td>
						<td>数量</td>
						<td>小計</td>
						<td>制作ステータス</td>
						<td></td>
					</tr>
				</thead>

				<tbody>

					<% @order_products.each do |f| %>
					<tr>
						<td><%= f.product.name %></td>
						<td><%= f.price_tax_included %></td>
						<td><%= f.number %></td>
						<td><%= f.price_tax_included * f.number %></td>

						<%= form_for f, url:"/admin/orders/#{f.id}" do |d| %>
						<td><%= d.select :production_status, OrderProduct.production_statuses.keys, :prompt => "選択してください" %></td>
						<td><%= d.submit "更新", class: "btn btn-primary" %></td>
						<% end %>
					</tr>
					<% end %>

				</tbody>
			</table>

		</div>

		<div class="col-md-4">
			<table class="table">
				<thead>
					<tr>
						<td>商品合計</td>
						<td><%= @order.amount_price %></td>
					</tr>
					<tr>
						<td>送料</td>
						<td><%= @order.postage %></td>
					</tr>
					<tr>
						<td>請求金額合計</td>
						<td><%= @order.amount_price + @order.postage %></td>
					</tr>
				</thead>
			</table>
		</div>

	</div>

</div>

