<div class="container">
	<div class="row">
		<h4>注文情報確認</h4>

		<table class="table table-hover table-inverse">
			<%= @orders.each do |order| %>
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（仕込）</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= attachment_image_tag(order.product, :image, size:'100x100', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg") %></td>
					<td><%= order.product.name %></td>
					<td><%= order.product.price_tax_exclude %></td>
				</tr>
				</tbody>
				<tr>
					<th>送料</th>
					<td><%=order.postage%></td>
				</tr>
				<tr>
					<th>商品合計</th>
					<td><%= order.amount_price %></td>
				</tr>
				<tr>
					<th>請求金額</th>
					<td><%= oprder.postage + amount_price %></td>
				</tr>
		</table>
		<table>
			<tr>
				<th>支払い方法</th>
				<td><%= order.order_status %></td>
			</tr>
			<tr>
				<th>お届け先</th>
				<td><%= order.address%></td>
			</tr>
			<tr>
			<% end %>
		</table>
		<%=link_to "購入を確定する",orders_complete_path %>

	</div>
</div>
