<div class= "container">
	<div class="row">
		<div class="col-xs-2">
			<table class="col-12">
				<thead>
					<tr>
						<th>ジャンル<br>検索</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td height="80"><%= link_to "ケーキ " , products_cake_path %> </td>
					</tr>
					<tr>
						<td height="80"><%= link_to "焼き菓子",  products_bakedgoods_path %></td>
					</tr>
					<tr>
                        <td height="80"><%= link_to "キャンディ",  products_candy_path %></td>
					</tr>
					<tr>
						<td height="80"><%= link_to "プリン",  products_pudding_path %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-10">

			<div class="a">
			    <div class="b"><img class="c" src="assets/cake.jpg">
			    </div>
			    <div class="b"><img class="c" src="assets/candy.jpg"></div>
			    <div class="b"><img class="c" src="assets/purin.jpg"></div>
			     <div class="b"><img class="c" src="assets/yakigashi.jpg"></div>
			</div>
			  <h4 class="box_headline">
				ようこそ、NaganoCakeへ！<br>このサイトは、ケーキの販売サイトになります。<br>
			    会員でない方も商品の観覧はできますが、<br>購入には会員登録が必要となります。
		      </h4>
		    <h2>オススメ商品</h2>
			<tbody>
			 <% @products.each do |product|%>
           <div class="torunbox">
             <table>
               <tr>
                 <td class="noborder"><%= attachment_image_tag product, :image, format: "jpeg", size: "150x120" %></td>
               </tr>
               <tr>
                 <td class="noborder"><%= link_to product.name, product_path(product.id) %></td>
               </tr>
               <tr>
                 <td class="noborder">¥<%= number_to_currency(product.price_tax_excluded) %></td>
               </tr>
         </div>
       <% end %>
		</tbody>
		 <td class="noborder"><div class='p-eu__paginate'>
		<%= paginate @products %>
		</div></td>
        </table>
		</div>
	</div>
</div>
<script>
	$(function() {
    $('.a').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 1000,
    });
});
</script> >
