<div class= "container">
	<div class="row">
		<div class="col-xs-2">
			<table class="col-12">
				<thead>
					<tr>
						<th>ジャンル<br>検索</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td height="80"><%= link_to "ケーキ " , products_cake_path %> </td>
					</tr>
					<tr>
						<td height="80"><%= link_to "焼き菓子",  products_bakedgoods_path %></td>
					</tr>
					<tr>
                        <td height="80"><%= link_to "キャンディ",  products_candy_path %></td>
					</tr>
					<tr>
						<td height="80"><%= link_to "プリン",  products_pudding_path %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-10">
			<div id="test-carousel" class="carousel slide" data-ride="carousel" data-interval="2000">
				<!-- data-interval で時間調節-->

			  <ol class="carousel-indicators">
			    <li data-target="#test-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#test-carousel" data-slide-to="1" class=""></li>
			    <li data-target="#test-carousel" data-slide-to="2" class=""></li>
			  </ol>

			  <div class="carousel-inner">
			    <div class="item active">
			      <img class="slide" src="assets/candy.jpg">
			    </div>
			    <div class="item">
			      <img class="slide"src="assets/cake.jpg">
			    </div>
			    <div class="item">
			      <img class="slide"src="assets/purin.jpg">
			    </div>
			  </div>

			</div>
			  <h4 class="box_headline">
				ようこそ、NaganoCakeへ！<br>このサイトは、ケーキの販売サイトになります。<br>
			    会員でない方も商品の観覧はできますが、<br>購入には会員登録が必要となります。
		      </h4>
		    <h2>オススメ商品</h2>
			<tbody>
			 <% @products.each do |product|%>
           <div class="torunbox">
             <table>
               <tr>
                 <td class="noborder"><%= attachment_image_tag product, :image, format: "jpeg", size: "150x120" %></td>
               </tr>
               <tr>
                 <td class="noborder"><%= link_to product.name, product_path(product.id) %></td>
               </tr>
               <tr>
                 <td class="noborder">¥<%= number_to_currency(product.price_tax_excluded) %></td>
               </tr>
         </div>
       <% end %>
		</tbody>
		 <td class="noborder"><div class='p-eu__paginate'>
		<%= paginate @products %>
		</div></td>
        </table>
		</div>
	</div>
</div>