<h4><%= flash[:error] %></h4>
<div class="loginheadline">
  <div class="logintext">
      <h4><span class="gray">　会員の方はこちらからログイン　</span></h4>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>
    <div class="emaillogin">
      <div class="field">
        <%= f.label :メールアドレス  %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "60"%>
      </div>
    </div>

    <div class="field">
      <%= f.label :パスワード%>
      <%= f.password_field :password, autocomplete: "current-password", :size => "60" %>
    </div>

    <div class="passwordlogin">
      <P><%=link_to "=> パスワードを忘れた方はこちら", new_end_user_password_path %></P>
    </div>

    <div class="submitlogin">
      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>
  <div class="sinuplogin">
     <h4><span class="gray">　登録がお済みでない方　</span></h4>
  </div>
  <div class="loginline">
    <h4><%= link_to "こちら", new_end_user_registration_path %> から新規登録を行ってください.</h4>
  </div>
</div>
</div>