<!-- <h1>Admin::EndUsers#edit</h1>
<p>Find me in app/views/admin/end_users/edit.html.erb</p> -->
<div class="container">
	<div class="row">

		<div class="col-md-6">

			<h2><%= @end_user.family_name %><%= @end_user.first_name %>の会員情報編集</h2>

			<p notice=""></p>

			<%= form_for @end_user, url:"/admin/end_users/#{@end_user.id}" do |f| %>

			<table class="table">
				<tbody>
					<tr>
						<td>会員ID</td>
						<td><%= @end_user.id %></td>
					</tr>
					<tr>
						<td>氏名</td>
						<td><%= f.text_field :family_name %> <%= f.text_field :first_name %></td>
					</tr>
					<tr>
						<td>フリガナ</td>
						<td><%= f.text_field :family_name_kana %> <%= f.text_field :first_name_kana %></td>
					</tr>
					<tr>
						<td>郵便番号</td>
						<td><%= f.text_field :post_code %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= f.text_field :address %></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td><%= f.text_field :phone_number %></td>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<td><%= f.text_field :email %></td>
					</tr>
				</tbody>
			</table>

			<p>会員ステータス</p>

			<label><%= f.radio_button :is_active, "true" %>有効</label>
			<label><%= f.radio_button :is_active, "false" %>退会済み</label>

			<div class="actions row">
				<%= f.submit "変更を保存する", class: "btn btn-primary" %>
			</div>

			<% end %>
		</div>

	</div>
</div>

