<h1>Admin::Products#index</h1>
<p>Find me in app/views/admin/products/index.html.erb</p>
商品一覧


<table>
	<thead>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>販売ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>

			<td><%= product.id %></td>
			<td><%= link_to product.name, admin_product_path(product.id) %></td>
			<td><%= product.price_tax_excluded %></td>
			<td><%= product.genre.name %></td>
			
		</tr>
		<% end %>
	</tbody>
</table>



<%= link_to "新規商品登録", new_admin_product_path %>