<h1>Admin::Products#show</h1>
<p>Find me in app/views/admin/products/show.html.erb</p>
商品詳細

<table>
	<%= attachment_image_tag @product, :image, size:'100x100', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
		<tr>
			<td>商品名</td>
			<td><%= @product.name %></td>
		</tr>
		<tr>
			<td>商品説明</td>
			<td><%= @product.detail %></td>
		</tr>
		<tr>
			<td>ジャンル</td>
			<td><%= @product.genre.name %></td>
		</tr>
		<tr>
			<td>税込価格（税抜価格）</td>
			<td><%= number_to_currency(@product.price_tax_excluded) %>
				(<%= number_to_currency(@product.price_tax_excluded)%>)円
			</td>
		</tr>
		
</table>

<%= link_to "編集する", edit_admin_product_path, class: "btn btn-primary" %>
<%= link_to "商品管理一覧", admin_products_path %>