<div class= "container">
	<div class="row">
		<div class="col-xs-3">
			<div class="genleline">
			<table >
				<thead>
					<tr>
						<th>ジャンル検索</th>
					</tr>
				</thead>
				<tbody>
					<% @genres.each do |genre| %>
					<tr>
						<% if genre.is_active? %>
						<td height="80"><%= link_to genre.name, products_path(genre_id: genre.id) %></td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
		  </div>
		</div>
	 	<div class="productline">
	 	  <%= form_for(@cart_product) do |f| %>
	 	  <%= f.hidden_field :product_id, :value => @products.id %>
	 		<div class="col-xs-5">
              <th><%= attachment_image_tag @products, :image, format: "jpeg", size: "400x300" %>
            </div>
            <div class="col-xs-4">
            <table class="col-xs-10">
              <tr>
                <td class="noborder"><h2><%= @products.name %></h2></td>
              </tr>
              <tr>
                <td class="noborder"><%= @products.detail %></td>
              </tr>
              <tr>
                <td class="noborder"><h4>¥<%= number_to_currency(@products.price_tax_excluded*1.1)%>(税込)</h4></td>
              </tr>
              <tr>
              	<td> <i class="fa fa-calendar"></i><%= @product.created_at.strftime('%Y/%m/%d') %>
              		<% if @product.favorited_by?(current_end_user) %>
					<li>
					  <%= link_to product_favorites_path(@product), method: :delete do %>
					    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					    <%= @product.favorites.count %> いいね
					  <% end %>
					</li>
					<% else %>
					<li>
					  <%= link_to product_favorites_path(@product), method: :post do %>
					    <i class="fa fa-heart-o" aria-hidden="true"></i>
					    <%= @product.favorites.count %> いいね
					  <% end %>
					</li>
					<% end %></td>
			  </tr>
              <% if end_user_signed_in? && current_end_user.id %>
              <tr>
                 <td class="noborder"><%= f.select :number, options_for_select((1..20).to_a), include_blank: "個数選択" %>
                 <%= f.submit 'カートに入れる', class: "btn btn-primary", role: "botton" %></td>
              <% end %>
             </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
