<div class= "container">
	<div class="row">
		<div class="col-xs-3">
			<div class="genleline">
			<table >
				<thead>
					<tr>
						<th>ジャンル検索</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>ケーキ</td>
					</tr>
					<tr>
						<td>焼き菓子</td>
					</tr>
					<tr>
						<td>キャンディ</td>
					</tr>
					<tr>
						<td>プリン</td>
					</tr>
				</tbody>
			</table>
		  </div>
		</div>
	 <div class="col-xs9">
	 	<div class="productline">
          <th> 
            <td><%= attachment_image_tag @product, :imege, format: "jpeg", size: "40x40" %></td>
          </th>
          <th>
            <td><%= @product.name %></td>
          </th>
           <th>
            <td><%= @product.detail %>税込</td>
          </th>
          <th>
            <td><%= @product.price_tax_excluded %></td>
          </th>
          <th>zw
        <div class="ckdf">
            <td><%= button_to 'カートに入れる', cart_products_path(@ptoduct.id), class: "btn btn-primary", role: "botton" %></td>
          </th>
         </div>
        </div>
     </div>
