<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/f4a34d9917.js" crossorigin="anonymous"></script>
  </head>

  <body>
     <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>Nagano Cake</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
           <li class="glyphicon glyphicon-home home">aaaa</li>
           <li class="glyphicon glyphicon-link about">bbbb</li>
          </ul>
        </nav>

      </div>
    </header>
    <%= yield %>
  </body>
</html>
